@import "tailwindcss";


@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


body {
  font-family: var(--font-sans);
  @apply bg-neutral-900 text-white;
  z-index: 0;
}

a {
  @apply hover:text-blue-600;
  text-decoration: none;
}



.animate-fade-in {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@layer utilities {
  .text-inner-shadow {
    text-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
}

.headings {
  @apply block text-5xl font-bold text-center pt-6 ;
}